{% include 'base.html' %}
{% block content %}
<style>
  /* Style the search form */
  form {
    display: flex;
    margin-bottom: 20px;
  }

  /* Style the input */
  input[type="text"] {
    padding: 15px;
    width: 200px;
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  /* Style the button */
  button {
    padding: 10px;
    height: 50px;
    width: 80px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* Add some hover effect to the button */
  button:hover {
    background-color: #45a049;
  }
</style>
<div class="leftcolumn">
  <!-- Add a search form -->
  <form method="get" action="{% url 'search_results' %}">
    <input type="text" name="query" placeholder="Search by title">
    <button type="submit">Search</button>
</form>

  {% for post in posts|dictsortreversed:"created_at" %}
    <div class="small-card">
      <h2>{{ post.title }}</h2>
      {% if post.updated_at != post.created_at %}
        <h5>Updated at: {{ post.updated_at }}</h5>
      {% else %}
        <h5>Created at: {{ post.created_at }}</h5>
      {% endif %}
      <div class="fakeimg">
        <img src="{{ post.image.url }}" alt="Image" style="height: 60vh; width: 100%;">
      </div>
      <p>{{ post.content|truncatewords:50 }}</p>
      <a href="{% url 'read_more' post.id %}" class="read-more-btn">Read More</a>
    </div>
  {% endfor %}
</div>


<div class="rightcolumn">
  <div class="card">
    <h3>Recent Posts</h3>
    {% for post in posts|dictsortreversed:"created_at" %}
      <div class="fakeimg">
        <a href="{% url 'read_more' post.id %}"><h2>{{ post.title }}</h2>
          <img src="{{ post.image.url }}" alt="Image" style="height: 60px;">
        </a>
      </div>
      <br>
    {% endfor %}
  </div>
</div>
  
</div>


{% endblock %}
